.NewInvoice_Container{

}

.CustomerContainer{
    display: flex;
    align-items: center;
    width:33%;
}

.NewInvoice_TopContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

.NewInvoice_NameContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}


